<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
  </head>
  <body>
    <!-- Menú de navegación -->
    <nav th:replace="~{/fragmentos/menu :: menu}"></nav>

    <section id="catalogo" class="container-fluid mt-5">
      <div class="row">
        <div class="col-3">
          <h2 class="display-5 mb-5">Catálogo</h2>
        </div>
        <div class="col-9 mt-4 d-flex justify-content-end">
            <a th:href="@{/add-new-room}" class="h-50 btn btn-primary btn-lg p-1"><i class="bi bi-plus-circle"></i> Agregar habitación</a>
        </div>
        
      </div>
     
      <div class="row">
        <div class="col-2 d-flex flex-column border-end ps-4 mb-5">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="options" id="option1" value="option1">
            <label class="form-check-label" for="option1">Individual</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="options" id="option2" value="option2">
            <label class="form-check-label" for="option2">Doble</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="options" id="option3" value="option3">
            <label class="form-check-label" for="option3">Grupos</label>
          </div>
        </div>


        <div class="col-10">
            <div class="container-fluid row justify-content-end">
              <form class="w-25" th:action="@{/buscar}" method="get">
                <div class="input-group mb-3">
                  <input type="text" name="nombre" id="buscar" class="form-control" placeholder="Buscar...">
                  <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
              </form>


                <div class="container d-flex flex-wrap">
                  <!-- <div class="col-mb-3 mb-3">
                    <div th:each="habitacion : ${habitaciones}" class="card h-100 d-flex flex-column">
                      <img th:src="${habitacion.urlImage}" class="card-img-top" alt="Imagen de la habitación">
                      <div class="card-body">
                        <h5 class="card-title" th:text="${habitacion.nombre}">Nombre de la habitación</h5>
                        <p class="card-text" th:text="${habitacion.descripcion}">Descripción de la habitación</p>
                        <p class="card-text"><strong th:text="${habitacion.precio}">Precio</strong> €/noche</p>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Reservar</button>
                      </div>
                      <div class="card-footer d-flex justify-content-between">
                      
                        <button class="btn btn-warning ms-2 me-2">
                          <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-danger">
                          <i class="bi bi-trash"></i> 
                        </button>

                      </div>
                    </div>

                  </div> -->

                  <div class="d-flex w-25 "  th:each="habitacion : ${habitaciones}">

                    <div class="card m-3 d-flex flex-column justify-content-between">
                      <img th:src="${habitacion.urlImage}" class="card-img-top" alt="Imagen de la habitación">
                      <div class="card-body">
                        <h5 class="card-title" th:text="${habitacion.nombre}">Nombre de la habitación</h5>
                        <p class="card-text" th:text="${habitacion.descripcion}">Descripción de la habitación</p>
                        <p class="card-text"><strong th:text="${habitacion.precio}">Precio</strong> €/noche</p>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Reservar</button>
                      </div>
                      <div class="card-footer d-flex justify-content-between">
                      
                      <button class="btn btn-warning ms-2 me-2">
                        <i class="bi bi-pencil"></i>
                      </button>
                      <button class="btn btn-danger">
                        <i class="bi bi-trash"></i> 
                      </button>
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
        </div>

      </div>


    </section>

    <!-- Pie de página -->
    <footer th:replace="~{/fragmentos/footer :: footer}"></footer>


    <!-- Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Reserva</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            ¡Reserva hecha con exito!
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</html>
