<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gestión de Habitaciones</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous" defer></script>
</head>
<body>

  <header th:replace="~{/fragmentos/menu :: menu}"></header>

<main class="container mt-5">
  <h2 class="mb-4">Gestión de Habitaciones</h2>
  <div class="col-12 col-md-9 d-flex mb-3">
    <a th:href="@{/habitaciones/add-new-room}" class="btn btn-primary btn-lg"><i class="bi bi-plus-circle"></i> Agregar habitación</a>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Categoría</th>
          <th>Imagen</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="habitacion : ${habitaciones}">
          <td th:text="${habitacion.id}">1</td>
          <td th:text="${habitacion.nombre}">Habitación A</td>
          <td th:text="${habitacion.descripcion}">Una descripción corta</td>
          <td><span th:text="${habitacion.precio}">100</span> €</td>
          <td th:text="${habitacion.categoria.nombre}">Doble</td>
          <td>
            <img th:src="${habitacion.urlImage}" alt="Imagen" style="width: 80px; height: auto;">
          </td>
          <td>
			<a th:href="@{/habitaciones/edit/}+${habitacion.id}" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
			<a th:href="@{/habitaciones/delete/}+${habitacion.id}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

  <footer th:replace="~{/fragmentos/footer :: footer}"></footer>
</body>
</html>
